.about-container {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  clear: both;
  background-color: #f4f5f5;
}

p a, p a:visited, p a:hover, p a:active {
  color: purple;
  outline: 0;
}

a {
  color: black;
}

button {
  background-color: #f4f5f5;
  border-color: black;
}

div.icon-bar {
  background-color: black;
}

.about-longform-container {
  .about-content {
    padding: 10vh 5vw;
    padding-top: 15vh;
    margin-right: 5vw;

    .about-greeting {
      margin-bottom: 4rem;
    }

    p.about-longform {
      width: 60vw;
      font-size: 1.2rem;
    }
  }
}

.link-to-resume {
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
}

.link-to-home a {
  color: black;
  font-family: sans-serif;
}

h1 {
  font-size: 2.75rem;
}
