<mat-sidenav-container class="about-container">
    <nav class="link-to-home">
        <a [routerLink]="['/home']"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;Ryan<strong>Johns</strong></a>
    </nav>
  <mat-sidenav mode="push" #sidenav position="end">
    <app-navigation></app-navigation>
  </mat-sidenav>

  <div class="sidenav-content">
    <button type="button" mat-button (click)="sidenav.open()">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
    </button>
  </div>
  <section class="about-longform-container">
      <div class="about-content">
        <h1 class="about-greeting">About Me&nbsp;&nbsp;
          <small><a href="https://twitter.com/jedimasterjohns"><i class="fa fa-twitter-square"></i></a></small>
          <small><a href="https://github.com/jedimasterjohns"><i class="fa fa-github-square"></i></a></small>
          <small><a href="https://www.linkedin.com/in/ryanj2/"><i class="fa fa-linkedin-square"></i></a></small>
          <br/>
        </h1>
        <p class="about-longform text-indent">
          I am a junior developer at Xactware helping create the next generation full-cycle claims platform and reporting tool for the global property insurance industry.
          As a self-taught engineer I am a highly driven self starter with passion to continously learn and refine my skills. I write highly readable, maintainable and efficient code.
        </p>
        <p class="about-longform text-indent">
          I grew up near Seattle, Washington. After living for two years in South America I made my way to Brigham Young University in Provo, Utah to pursue a degree in Exercise Science.
          Shortly before graduation I caught the coding bug while working a sales job for <a href="https://www.insidesales.com/">InsideSales.com</a>. Instead of selling the product I wanted
          to help <em>create it.</em> Soon after leaving that job I got to work learning web development and I knew I was onto something.
        </p>
        <p class="about-longform text-indent">
          I got my initial opportunity to work in a technical role as a quality assurance and testing analyst at <a href="https://www.xactware.com/">Xactware</a>. I learned best practices in
          in writing robust test cases as well as exploratory, regression, acceptance, and integration testing. I also got my start writing code by developing automated end-to-end tests for both
          web and desktop applications using automation tools like TestStack.White and Selenium WebDriver. Working with legacy silverlight code opened my eyes to the importance of writing clean
          code and producing maintainable software.
        </p>
        <p class="about-longform text-indent">
          I jumped at the opportunity to work remotely as a junior web developer for <a href="https://www.zamplebox.com/">Zamplebox</a> as a contractor for six months. I was tasked with building
          an end-to-end automated web testing framework from scratch and that is exactly what I did. I used SQL and C# to fix bugs and add small features as well as NUnit tooling and Selenium
          to build the framework and its tests for the AngularJS application.
        </p>
        <p class="about-longform text-indent">
          This experience led to better opportunities at my previous employer <a href="https://www.xactware.com/">Xactware</a> where I was brought back on as a test automation engineer. I quickly
          graduated to a junior developer position where I currently work on an Angular application fixing defects, writing new features, and providing overall quality assurance through writing
          automated tests and implementing user feedback. Working on this green field project provides the opportunity to use the latest builds of Angular and Typescript on the front end with .NET
          Core and C# on the backend. I practice test driven development with every line of code that I write.
        </p>
        <br/>
        <nav>
          <strong><a class="link-to-resume" [routerLink]="['/resume']">View resume&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></strong>
        </nav>
      </div>
    </section>
  </mat-sidenav-container>
