
* {
  text-decoration: none;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: inherit;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica", serif;
}

.sidenav {
  padding: 20px;
  z-index: 4;
  width: 240px;
  overflow: hidden;
  background-color: #515151;
  height: 100vh;
  box-shadow: inset 6px 0 10px 1px #333;
  display: block;
}

.sidenav-content {
  position: absolute;
  top: 20px;
  right: 50px;;
  border-color: black;
}

.icon-bar {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 4px 0;
}

.link-to-home {
  position: absolute;
  top: 5vh;
  left: 5vw;
  font-size: 1.2rem;
}

.text-indent {
  text-indent: 30px;
}
