@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  text-decoration: none;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: inherit;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica", serif;
}

h1 {
  font-size: 2.75rem;
}

.sidenav {
  padding: 20px;
  z-index: 4;
  width: 240px;
  overflow: hidden;
  background-color: #515151;
  height: 100vh;
  box-shadow: inset 6px 0 10px 1px #333;
  display: block;
}

.sidenav-content {
  position: absolute;
  top: 20px;
  right: 50px;;
  border-color: black;
}

.icon-bar {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 4px 0;
}

.link-to-home {
  position: absolute;
  top: 5vh;
  left: 5vw;
  font-size: 1.2rem;
}

.text-indent {
  text-indent: 30px;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

