@mixin animation($name) {
  -webkit-animation: #{$name};
  -moz-animation: #{$name};
  -ms-animation: #{$name};
  -o-animation: #{$name};
  animation: #{$name};
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

.home-container {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  clear: both;
  background-color: royalblue;
  a, a:visited, a:hover, a:active {
    color: white;
    outline: 0;
  }

  button {
    background-color: royalblue;
    border-color: white;
  }

  .site-intro-content {
    padding: 20vmin 10vmin;
    color: white;
    font-size: 1.4rem;
  }

  .scroll-prompter {
    padding: 0;
    display: block;
    font-size: 2.7rem;
    z-index: 100;
  }

  .typed-cursor {
    font-size: 100px;
    color: white;
    opacity: 1;
    @include animation(blink 0.7s infinite);
  }

  @mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
    @-moz-keyframes #{$name} { @content; }
    @-ms-keyframes #{$name} { @content; }
    @-o-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
  }

  @mixin animation($name) {
    -webkit-animation: #{$name};
    -moz-animation: #{$name};
    -ms-animation: #{$name};
    -o-animation: #{$name};
    animation: #{$name};
  }

  .intro-text {
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    font-size: 1.4rem;
  }

  .scroll-prompter-row {
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 3rem;
    text-align: center;
    @include animation(arrowBounce 0.7s infinite);
  }

  .scroll-prompter {
    padding: 0;
    display: block;
    font-size: 2.7rem;
    z-index: 100;
    a {
      color: white;
    }
  }
}

#scrollTarget {
  position: absolute;
  top: 100vh;
}

.skill-logos-container {
  height: 88vh;
  width: 90vw;
  padding: 15vh 5vw;
  padding-top: 5vh;
  background-color: #f4f5f5;
  .skill-logos {
    padding: 10vmin 5vmin;
    color: black;
    font-size: 1.4rem;
  }
  hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;

  }
  p a, p a:visited, p a:hover, p a:active {
    color: purple;
    outline: 0;
  }

  a {
    color: black;
  }

  button {
    background-color: #f4f5f5;
    border-color: black;
  }

  .skill-logo-img {
    margin: 0.5rem 0.5rem;
    height: 30px;
  }

  .skill-logo-row {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.6rem;
  }

  .skill-logo-img {
    margin: 1rem 0.5rem;
    height: 70px;
  }
}

.employer-logos-container {
  position: relative;
  overflow-y: hidden;
  height: 88vh;
  width: 90vw;
  padding: 15vh 5vw;
  padding-top: 5vh;
  background-color: #f4f5f5;
  .employer-logo-img {
    margin: 2.2rem 2rem;
    width: 20rem;
  }

  #viewResume {
    position: relative;
    left: 19rem;
    bottom: 2.5rem;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #3C1642;
  }

  .home-page-section-content {
    padding: 5vmin 10vmin;
  }

  .employer-logo-row {
    text-align: center;
    overflow-y: hidden;
    margin: auto;
  }

  hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
  }

  p a, p a:visited, p a:hover, p a:active {
    color: purple;
    outline: 0;
  }

  a {
    color: black;
  }
}

.blog-link {
  a {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
  }
  background-color: royalblue;
  height: 30vh;
  width: 100vw;
  text-align: center;
  font-size: 4rem;
}

@include keyframes(arrowBounce) {
  0% { bottom: 3rem; }
  50% { bottom: 4rem; }
  100% { bottom: 3rem; }
}
